:root {
  --naranja: #f7941d;
  --verde: #5ab266;
  --morado: #6f4d9c;
  --morado-claro: #8c71b0;
  --gris: #808285;
  --gris-claro: #d1d5db;
}
html {
  scroll-behavior: smooth;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
